In [2]:
import pandas as pd
import numpy as np, matplotlib.pyplot as plt, seaborn as sns

# Date Time

# 1.Conversion of string to Timestamp

In [3]:
string_to_convert = '2020-02-01'

t=type(string_to_convert)
print(f'Type of {string_to_convert} is ::{t}')

print()

converted=pd.to_datetime(string_to_convert)
print(converted)
print()
print("New type of is")
print(type(converted))

Type of 2020-02-01 is ::<class 'str'>

2020-02-01 00:00:00

New type of is
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

# 2. Conversion of pd columns or series to Timestamp

In [42]:
s = pd.Series(['2020-02-01',
               '2020-02-02',
               '2020-02-03',
               '2020-02-04'])
ss= pd.DataFrame({"date":['2020-02-01',
               '2020-02-02',
               '2020-02-03',
               '2023-02-04']})
s

0    2020-02-01
1    2020-02-02
2    2020-02-03
3    2020-02-04
dtype: object

In [43]:
ss

         date
0  2020-02-01
1  2020-02-02
2  2020-02-03
3  2023-02-04

Here the dtype is obeject lets check down

# DateTimeIndex()

In [44]:
# extracting day
print(pd.Series(pd.DatetimeIndex(ss["date"]).day))

0    1
1    2
2    3
3    4
Name: date, dtype: int64

In [45]:
#extracting day month

print(pd.Series(pd.DatetimeIndex(ss["date"]).month))

0    2
1    2
2    2
3    2
Name: date, dtype: int64

In [46]:
#extracting day year

print(pd.Series(pd.DatetimeIndex(ss["date"]).year))

0    2020
1    2020
2    2020
3    2023
Name: date, dtype: int64

Here the dtype datetime64

It is very much important to change the format 
before performing any operation in datetime columns

# 3.Convert Pandas Series to datetime w/ custom format

Say you have a messy string with a date inside and you need to convert it to a date. You need to tell pandas how to convert it and this is done via format codes.

In [5]:
#Example
ss = pd.Series(['My 3date is 01199002',
           'My 3date is 02199015',
           'My 3date is 03199020',
           'My 3date is 09199204'])
ss

0    My 3date is 01199002
1    My 3date is 02199015
2    My 3date is 03199020
3    My 3date is 09199204
dtype: object

In [6]:
#conversion
new_date =pd.to_datetime(ss, format="My 3date is %m%Y%d")
new_date

0   1990-01-02
1   1990-02-15
2   1990-03-20
3   1992-09-04
dtype: datetime64[ns]

# 4. Extract out Categorical Name of Month or Day

There are some formats are avail to conducts this
link

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

a) Extraction by Month names

In [9]:
month_name=pd.to_datetime(new_date).dt.strftime("%B-%Y") 
month_name
# %B or %b gives name of the month

0      January-1990
1     February-1990
2        March-1990
3    September-1992
dtype: object

In [84]:
month=pd.to_datetime(new_date).dt.strftime("%m")
month
# %d extract the numerical day

0    01
1    02
2    03
3    09
dtype: object

In [91]:
day=pd.to_datetime(new_date).dt.strftime('%A')
day
# %A or %a gives categorical day

0     Tuesday
1    Thursday
2     Tuesday
3      Friday
dtype: object

In [95]:
day_numerical=pd.to_datetime(new_date).dt.strftime("%d -------- > %A")
day_numerical

0     02 -------- > Tuesday
1    15 -------- > Thursday
2     20 -------- > Tuesday
3      04 -------- > Friday
dtype: object

In [100]:
year=pd.to_datetime(new_date).dt.strftime("%Y")
year
# %y or % Y returns the numerical year

0    1990
1    1990
2    1990
3    1992
dtype: object

In [102]:
#together all

pd.to_datetime(new_date).dt.strftime("%A/%B/%Y")

0      Tuesday/January/1990
1    Thursday/February/1990
2        Tuesday/March/1990
3     Friday/September/1992
dtype: object

In [104]:
# Short form
pd.to_datetime(new_date).dt.strftime("%a/%b/%y")

0    Tue/Jan/90
1    Thu/Feb/90
2    Tue/Mar/90
3    Fri/Sep/92
dtype: object

# Time

In [105]:
new_date

0   1990-01-02
1   1990-02-15
2   1990-03-20
3   1992-09-04
dtype: datetime64[ns]

In [109]:
Time = pd.Series(['2020-02-01 10:11:30',
               '2020-02-02 11:12:25',
               '2020-02-03 00:00:00',
               '2020-02-04 18:02:21'])

In [111]:
new_time=pd.to_datetime(Time)
new_time

0   2020-02-01 10:11:30
1   2020-02-02 11:12:25
2   2020-02-03 00:00:00
3   2020-02-04 18:02:21
dtype: datetime64[ns]

In [132]:
pd.to_datetime(new_time).dt.strftime("%H %p")
#%H gives Hour
# %p gives Am or pm

0    10 AM
1    11 AM
2    00 AM
3    18 PM
dtype: object

In [129]:
pd.to_datetime(new_time).dt.strftime("%M")
#%M gives min

0    11
1    12
2    00
3    02
dtype: object

In [127]:
pd.to_datetime(new_time).dt.strftime("%S")
#%S gives second

0    30
1    25
2    00
3    21
dtype: object